
body {
    font-family: Roboto;
    font-size: 12pt;
    line-height: 1.5;
    transform: scaleY(1.2);
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid darkgray;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}
